.leaflet-container {
  width: 100%;
  height: 94vh;
  /* font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; */
}

body {
  padding-bottom: 30px;
}

h1,
h2,
p {
  font-family: sans-serif;
  text-align: center;
}
